body { 
  background-color:black !important; 
  font-family: 'Ubuntu Mono', 'Courier New', monospace !important; 
  line-height: 1em !important;
  color:white !important;
}
@media (width < 600px){
    #endme{
  display:flex !important;
  flex-direction:column !important;
  justify-content:space-between !important;
  align-items: center !important;
}

body>header, footer{
  text-align: center !important;
  font-size:12pt !important;
  padding: 10px !important;
}

body>p, section, article{
  text-align: center !important;
  font-size:12pt !important;
}

#endme>nav{
  color:white !important;
  width:30% !important;
  text-align: center !important;
  border-radius:10px !important;
  border: thick solid !important;
  font-size: x-large !important;
}

#endme>#Sony{
  background-color: blue !important;
  color:white !important;
  font-family: 'clarendon' !important;
}

#endme>#Nintendo{
  background-color: white !important;
  color: red !important;
  font-family: 'Pretendo' !important;
}

#endme>#Microsoft{
  background-color: lime !important;
  border:thick solid white !important;
  font-family:'X360' !important;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}
}
@media(width >= 600px){
#endme{
  display:flex !important;
  flex-direction:row !important;
  justify-content:space-between !important;
  align-items: center !important;
}

body>header, footer{
  text-align: center !important;
  font-size:12pt !important;
  padding: 10px !important;
}

body>p, section, article{
  text-align: center !important;
  font-size:12pt !important;
}

#endme>nav{
  color:white !important;
  width:30% !important;
  text-align: center !important;
  border-radius:10px !important;
  border: thick solid !important;
  font-size: x-large !important;
  box-sizing: border-box !important;
}

#endme>#Sony{
  background-color: blue !important;
  color:white !important;
  font-family: 'clarendon' !important;
}

#endme>#Nintendo{
  background-color: white !important;
  color: red !important;
  font-family: 'Pretendo' !important;
}

#endme>#Microsoft{
  background-color: lime !important;
  border:thick solid white !important;
  font-family:'X360' !important;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}
}
#court {
  position: relative;
  border: 3px solid blue;
  width: 1000px;
  height: 500px;
}

#ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: red;
  animation-name: bounce;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    left: 0px;
    top: 0px;
  }

  10% {
    left: 100px;
    top: 400px;
  }

  20% {
    left: 200px;
    top: 40px;
  }

  30% {
    left: 30px;
    top: 400px;
  }

  40% {
    left: 400px;
    top: 80px;
  }

  50% {
    left: 50px;
    top: 400px;
  }

  60% {
    left: 600px;
    top: 120px;
  }

  70% {
    left: 70px;
    top: 400px;
  }
  
  80% {
    left: 800px;
    top: 120px;
  }

  90% {
    left: 90px;
    top: 400px;
  }

  to {
    left: 900px;
    top: 160px;
  }
}
