body{ 
  background-color:black; 
  font-family: 'Ubuntu Mono', 'Courier New', monospace; 
  line-height: 1em;
  color:white; 
}

#container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

body>p{
  text-align: center;
  font-size:12pt;
}

#container>div{
  color:white;
  width:30%;
  text-align: center;
  border-radius:10px;
  border: thick, solid;
  font-size: x-large;
  box-sizing: border-box;
}

#container>#Sony{
  background-color: blue;
  color:white;
  font-family: 'clarendon';
}

#container>#Nintendo{
  background-color: white;
  color: red;
  font-family: 'Pretendo';
}

#container>#Microsoft{
  background-color: lime;
  border:thick, solid, white;
  font-family:'X360';
}

a{
  text-decoration: none;
  color: inherit;
}
