body { 
  background-color:black !important;
  font-family: 'Ubuntu Mono', 'Courier New', monospace !important; 
  line-height: 1em !important;
  color:white !important; 
}

@media (width < 600px){
    #container{
  display:flex !important;
  flex-direction:column !important;
  justify-content:space-between !important;
  align-items: center !important;
}

body>header, footer{
  text-align: center !important;
  font-size:12pt !important;
  padding: 10px !important;
}

body>p, section, article{
  text-align: center !important;
  font-size:12pt !important;
}

#container>nav{
  color:white !important;
  width:30%;
  text-align: center !important;
  border-radius:10px !important;
  border: thick solid !important;
  font-size: x-large !important;
  box-sizing: border-box !important;
}

#container>#Sony{
  background-color: blue !important;
  color:white !important;
  font-family: 'clarendon' !important;
  animation: grow 1s forwards;
}

#container>#Nintendo{
  background-color: white !important;
  color: red !important;
  font-family: 'Pretendo' !important;
  animation: grow 1s forwards;
}

#container>#Microsoft{
  background-color: lime !important;
  border:thick solid white !important;
  font-family:'X360' !important;
  animation: grow 1s forwards;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}
}
@media(width >= 600px){
#container{
  display:flex !important;
  flex-direction:row !important;
  justify-content:space-between !important;
  align-items: center !important;
}

body>header, footer{
  text-align: center !important;
  font-size:12pt !important;
  padding: 10px !important;
}

body>p, section, article{
  text-align: center !important;
  font-size:12pt !important;
}

#container>nav{
  color:white !important;
  width:30% !important;
  text-align: center !important;
  border-radius:10px !important;
  border: thick solid !important;
  font-size: x-large !important;
  box-sizing: border-box !important;
}

#container>#Sony{
  background-color: blue !important;
  color:white !important;
  font-family: 'clarendon' !important;
  animation: grow 1s forwards;
}

#container>#Nintendo{
  background-color: white !important;
  color: red !important;
  font-family: 'Pretendo' !important;
  animation: grow 1s forwards;
}

#container>#Microsoft{
  background-color: lime !important;
  border:thick solid white !important;
  font-family:'X360' !important;
  animation: grow 1s forwards;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}
}
@keyframes grow{
  from{
    width: 0%;
    height: 0%;
  }
  to{
    width: 30%;
    height: 100%;
  }
}
